<a href="https://colab.research.google.com/github/AdinDeis/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/DS_Unit_1_Sprint_Challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 1

## Loading, cleaning, visualizing, and analyzing data

In this sprint challenge you will look at a dataset of the survival of patients who underwent surgery for breast cancer.

http://archive.ics.uci.edu/ml/datasets/Haberman%27s+Survival

Data Set Information:
The dataset contains cases from a study that was conducted between 1958 and 1970 at the University of Chicago's Billings Hospital on the survival of patients who had undergone surgery for breast cancer.

Attribute Information:
1. Age of patient at time of operation (numerical)
2. Patient's year of operation (year - 1900, numerical)
3. Number of positive axillary nodes detected (numerical)
4. Survival status (class attribute)
-- 1 = the patient survived 5 years or longer
-- 2 = the patient died within 5 year

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- Validate that you have no missing values.
- Add informative names to the features.
- The survival variable is encoded as 1 for surviving >5 years and 2 for not - change this to be 0 for not surviving and 1 for surviving >5 years (0/1 is a more traditional encoding of binary variables)

At the end, print the first five rows of the dataset to demonstrate the above.

In [0]:
#Global imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

###Load the data as a pandas data frame.

In [0]:
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.data')

###Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
Expected number of observations 306 (UCI [link text](http://archive.ics.uci.edu/ml/datasets/Haberman%27s+Survival))

In [5]:
df.shape

(305, 4)

Hypothesis: no header row

In [7]:
df.head()

   30  64   1  1.1
0  30  62   3    1
1  30  65   0    1
2  31  59   2    1
3  31  65   4    1
4  33  58  10    1

Hypothesis confirmed

In [11]:
headers = ['age', 'years_after_1900_of_op', 'pos_acillary_nodes', 'survived_5_yrs']

df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/haberman/haberman.data', names=headers)
df.head()

   age  years_after_1900_of_op  pos_acillary_nodes  survived_5_yrs
0   30                      64                   1               1
1   30                      62                   3               1
2   30                      65                   0               1
3   31                      59                   2               1
4   31                      65                   4               1

Appropriate number of observations confirmed.

###Validate that you have no missing values.

In [13]:
df.isna().sum()

age                       0
years_after_1900_of_op    0
pos_acillary_nodes        0
survived_5_yrs            0
dtype: int64

Even though UCI agrees that there are no missing values, I will increase confidence by checking data types.

In [16]:
df.dtypes

age                       int64
years_after_1900_of_op    int64
pos_acillary_nodes        int64
survived_5_yrs            int64
dtype: object

Stretch: check for reasonable ranges

###Add informative names to the features.

Completed as part of "Load the data as a pandas data frame"

###At the end, print the first five rows of the dataset to demonstrate the above.

In [17]:
df.head(5)

   age  years_after_1900_of_op  pos_acillary_nodes  survived_5_yrs
0   30                      64                   1               1
1   30                      62                   3               1
2   30                      65                   0               1
3   31                      59                   2               1
4   31                      65                   4               1

###The survival variable is encoded as 1 for surviving >5 years and 2 for not - change this to be 0 for not surviving and 1 for surviving >5 years (0/1 is a more traditional encoding of binary variables)

In [0]:
df['survived_5_yrs'] = df['survived_5_yrs'] - 1

## Part 2 - Examine the distribution and relationships of the features

Explore the data - create at least *2* tables (can be summary statistics or crosstabulations) and *2* plots illustrating the nature of the data.

This is open-ended, so to remind - first *complete* this task as a baseline, then go on to the remaining sections, and *then* as time allows revisit and explore further.

Hint - you may need to bin some variables depending on your chosen tables/plots.

In [0]:
# TODO

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- What is at least one feature that looks to have a positive relationship with survival?
- What is at least one feature that looks to have a negative relationship with survival?
- How are those two features related with each other, and what might that mean?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.